div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin-bottom: 1.3em;
}

#todo-list {
  width: 50%;
  max-height: 68vh;
  overflow-y: scroll;
}

.task-done {
  text-decoration: line-through;
}

.task-container {
  margin-bottom: 1em;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid rgb(119, 111, 111, 1);
}
