<div *ngIf="todo">
  <button mat-raised-button [routerLink]="['/todo']">Back to list</button>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ todo.title }}</mat-card-title>
    </mat-card-header>
    <mat-divider />
    <mat-card-content>
      <p>{{ todo.description }}</p>
    </mat-card-content>
    <mat-divider />
    <mat-card-actions>
      <mat-checkbox color="primary" [checked]="todo.status" (click)="onCheckboxStateChange()"
                    (click)="$event.stopPropagation()">
      </mat-checkbox>
    </mat-card-actions>
  </mat-card>
</div>
